html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial, Sans Serif;
}

body {
	background: #551111;
}

a {
	text-decoration:none;
	color: black;
}

#banner {
	margin: 0px auto;
	width: 300px;
	height: 200px;
	font: bold 100pt arial;
	color: black;
}

#content {
	margin: 0px auto;
	padding: 0;
	width: 856px;
	background: #2A2A2A;
	border: solid 20px #4D4D4D;
}

#border {
	margin: 0px auto;
	padding: 0;
	width: 854px;
	height:480px;
	border: solid 1px yellow;
}

#menu {
	clear:both;
}

.menuItem {
	margin: 5px;
	width: 50px;
	height: 50px;
	background-color: grey;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	float: left;
}

#canvas {
	margin: 0;
	padding: 0;
}